<div class="product-card">

  <button class="favorite">
    ♡
  </button>

  <app-badge
    [text]="product.badge ?? ''">
  </app-badge>

  <img
    [src]="product.image"
    [alt]="product.title">

  <h3>
    {{ product.title }}
  </h3>

  <div class="price">

    <span
      class="current-price"
      [class.auction]="variant === 'auction'">

      {{ product.price }} {{ product.currency }}

    </span>

    @if (variant === 'auction' && product.oldPrice) {

      <span class="old-price">

        {{ product.oldPrice }} {{ product.currency }}

      </span>

    }

  </div>

  <p class="stock">
    В наличии
  </p>

  <p class="set">
    ● Комплект
  </p>

  <app-counter></app-counter>

</div>