<div class="product-card">

  <button class="favorite">

    <img
      src="images/icons/heart.svg"
      alt="Favorite">

  </button>

  @if (product.badge) {
    <app-badge
      [text]="product.badge">
    </app-badge>
  }

  <div class="image">

    <img
      [src]="product.image"
      [alt]="product.title">

  </div>

  <h3>
    {{ product.title }}
  </h3>

  <div class="price">

    <span class="current-price">

      {{ product.price }} {{ product.currency }}

    </span>

    @if (variant === 'auction' && product.oldPrice) {

      <span class="old-price">

        {{ product.oldPrice }} {{ product.currency }}

      </span>

    }

  </div>

  <p class="stock">

    {{ product.stockText }}

  </p>

  <p
      class="set"
      [class.disabled]="!product.hasSet">

      <span class="dot"></span>

      Комплект

  </p>

  <app-counter></app-counter>

</div>