<header class="header">

  <div class="logo">
    <img src="images/logos.png" alt="Iskender">
  </div>

  <button class="catalog-btn">
    <span class="menu-icon">☰</span>
    <span>Каталог</span>
  </button>

  <div class="search">

    <span class="search-icon">🔍</span>

    <input
      type="text"
      placeholder="Поиск">

  </div>

  <div class="actions">

    <div class="login">
      <span class="small-text">Добро пожаловать</span>
      <span class="login-text">Вход / Регистрация</span>
    </div>

    <button class="icon-btn">
      👤
    </button>

    <button class="icon-btn">
      🛒
    </button>

  </div>

</header>