@use '../../../../../styles/variables' as *;

.categories {
  margin: 48px 0;
}

.categories h2 {
  font-size: 24px;
  font-weight: 700;
  color: $text-primary;
  margin-bottom: 24px;
}

.grid {
  display: grid;

  grid-template-columns: repeat(7, 1fr);

  gap: 16px;
}

.card {
  background: $white;

  border-radius: 16px;

  padding: 14px;

  display: flex;

  flex-direction: column;

  justify-content: space-between;

  height: 210px;

  transition: .3s;

  cursor: pointer;
}

.card:hover {
  transform: translateY(-4px);

  box-shadow: 0 8px 20px rgba(0,0,0,.08);
}

.info h3 {
  font-size: 14px;

  font-weight: 500;

  margin-bottom: 4px;
}

.info small {
  font-size: 12px;

  color: $text-secondary;
}

.image {
  display: flex;

  justify-content: center;

  align-items: flex-end;

  flex: 1;
}

.image img {
  max-width: 100%;

  max-height: 120px;

  object-fit: contain;
}