<footer class="footer">

  <div class="container">

    <div class="column">
      <h2>Iskender</h2>

      <p>
        Первый отечественный бренд
        сантехники Iskender
      </p>

      <div class="apps">
        <button>App Store</button>
        <button>Google Play</button>
      </div>
    </div>

    <div class="column">
      <h3>Адреса</h3>

      <p>ЭлитСтрой</p>
      <p>ул. Ден-Сяопина 18/1</p>

      <br>

      <p>Баткен</p>
      <p>ул. Льва-Толстого 19</p>

      <br>

      <p>ТааТан</p>
      <p>ул. Лермонтова 6</p>

    </div>

    <div class="column">
      <h3>Компания</h3>

      <p>Каталог</p>
      <p>Избранное</p>
      <p>Личный кабинет</p>

    </div>

    <div class="column">
      <h3>Контакты</h3>

      <p>Email:</p>
      <p>iskender.kg@gmail.com</p>

      <br>

      <p>+996 (500) 000-104</p>
      <p>+996 (997) 000-104</p>
      <p>+996 (222) 000-104</p>
        <button class="whatsapp">
            WhatsApp
        </button>
    </div>

  </div>
    <div class="footer-bottom">

    <p>© 2023 Iskender.kg — Отечественный бренд сантехники</p>

    <div class="socials">
        <span>📷</span>
        <span>📘</span>
    </div>

    </div>
</footer>