.auction-header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:30px;
}

.auction-header a{
    color:#2b7cd3;
    text-decoration:none;
    font-weight:600;
}

.slider{

display:flex;

align-items:center;

gap:30px;

}

.cards{

display:flex;

gap:20px;

overflow:hidden;

}

.arrow{

width:48px;

height:48px;

border:none;

background:white;

border-radius:50%;

font-size:32px;

cursor:pointer;

box-shadow:0 3px 12px rgba(0,0,0,.08);

}

.auction-footer{

display:flex;

justify-content:space-between;

margin-top:30px;

}

.auction-footer a{

color:#2b7cd3;

text-decoration:none;

font-weight:600;

}

.pagination{

display:flex;

gap:10px;

}

.pagination span{

width:40px;

height:4px;

background:#ddd;

border-radius:10px;

}

.pagination .active{

background:#1b74d1;

}