.news {
  margin-top: 50px;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  width: 350px;
  height: 180px;
  background: #eaf5ff;
  border-radius: 12px;
  padding: 20px;
}

button {
  margin-top: 20px;
}